.form_style {
  text-align: center;
  padding: 200px;
  border: 100px solid #ddd;

  display: flex;              
  flex-direction: column;      
  align-items: center;         
}
.bodyloginclass {
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

