.form_style {
  margin: 1000px;
  text-align: center;
  padding: 200px;
  border: 100px solid #ddd;     
  align-items: center;         
}
.bodyloginclass {

  justify-content: center;
  align-items: center;
  margin: 10000px;
}

