

.table-container {
  height: 300px; 
  overflow-y: scroll; 
  border: 1px solid #ddd; 
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


.navigation {
  
  background-color: #363535;
}

ul {
  list-style-type: none;
  margin: 0;

  padding: 0;
  
}

li { 
  float: left
}

li a{
  display: block;
  color: white;
  background-color: #363535;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

