

.table-container {
  height: 300px; 
  overflow-y: scroll; 
  border: 1px solid #ddd; 
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #dddddd;
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}