
body{
  margin: 0;
  font-family: Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #ffffff;
}




.table-container {
  margin: 40px;
  height: 300px; 
  overflow-y: scroll; 
  border: 1px solid #ddd; 
}
table {
  width: 100%;
  border-collapse: collapse;
}
th  {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #b6b4b4;
}
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.navigation {
  
  background-color: #363535;
  display : flex;
}

.navlist {
  list-style-type: none;
  padding: 10px;
  
}

.navelement { 
  display: flex;
  background-color: #363535;
  text-align: center;
  padding: 20px;
  display: inline;
  
  
}

.navlink {

  color: #f7efef;
  text-decoration: none;
  font-size: 20px;

}

.navelement:hover{
  background-color: #757171;
}

.calbox {
  margin-left: 40px;
  margin-top: 10px;
  padding: 30px;
  font-size: 20px;
  box-shadow: inset 0 0 0 3px #363535;
  width: 150px;
  display: inline-flex;
  text-align: center;
  align-items: center;
  
}

.calp {
  margin: auto;
  text-align: center;
  text-decoration: dashed;
}

.statsbutton {
  
  margin-left: 50px;
  background-color: #757171;
  padding: 15px 20px;
  font-size: 20px;
  width: 200px;
  color: #ffffff;

}

.buttonbox {
  display: inline-block;
}

.notifbuttonbox {
  margin-right: 30px;
  float: right;
}

.vacationbox {
  padding: 14px 16px;
  box-shadow: inset 0 0 0 3px #363535;
  margin: auto;
  margin-top: 30px;
  width: 650px;
  font-size: 20px;
  text-decoration: solid;
  align-items: center;

}

.vacainput {
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.vacrequestbox {
  margin: 50px
}
.vacrequesttable td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  
}


.form_style{
 
    text-decoration: none;
    display: flex;
    justify-content: center;
}
